# Python
__pycache__/
literary_style_analysis.egg-info/

# Virtual Environment
venv/

# IDEs and Editors
.vscode/

# Logs
logs/
*.log

# Model checkpoints and saved models
models/
*.pth

# Data
data/
*.csv
*.json
*.pt

# Jupyter Notebooks
.ipynb_checkpoints/

# Jupyter Notebook
.ipynb_checkpoints
